body {
    background-image: url('/static/app/assets/home-background.jpg');
    color: #ffffff;
    font-family: "Roboto", system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

#daily, #reflective, #journal {
    font-size: 60px;
    font-weight: bold;
    margin-bottom: 0px !important;
    opacity: 0;
}

#daily {
    animation: fade-in 3s forwards;
}

#reflective {
    animation: fade-in 3s 0.5s forwards;
}

#journal {
    animation: fade-in 3s forwards 1s;
}

@keyframes fade-in {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}

.cont {
    backdrop-filter: blur(15px);
    -webkit-backdrop-filter: blur(15px);
    background-color: rgba(0, 0, 0, 0.65);
    padding: 40px 60px;
    min-height: 100vh;
    height: 100%;
}

button {
    border-radius: 15px;
    padding: 10px 20px;
    font-size: 20px;
    background-color: #ffffff;
    border: 0px;
}

button:hover {
    background-color: #eeeeee;
}

.card {
    background-color: rgba(0, 0, 0, 0.5);
    color: white;
}

.buttons {
    margin-bottom: 30px;
}

a {
    color: white;
}

a:hover {
    text-decoration-style: wavy;
    color: rgb(230, 230, 230);
}