.mood-detail {
    color: white;
}
.entry-layout {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 20px;
}
.entry-text p {
    margin: 10px 0;
}

.options-group {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    margin-top: 10px;
    justify-content: flex-start;
}

.option-item {
    padding: 10px 15px;
    background-color: rgba(167, 128, 223, 0.15);
    border-radius: 20px;
    user-select: none;
    transition: background-color 0.2s, color 0.2s;
}

.option-item:hover {
    background-color: rgba(167, 128, 223, 0.25);
}