.energy-grid {
    width: 80%;
    margin: 0 auto;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 20px;
    margin-top: 20px;
}
.energy-button {
    width: 150px;
    height: 150px;
    padding: 10px;
    font-size: 16px;
    color: #fff;
    border: none;
    border-radius: 50%;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    margin: 0 auto;
}

.emotions-list {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    margin-top: 20px;
}
.emotion-item {
    flex: 1 1 calc(16% - 10px);
    padding: 10px;
    cursor: pointer;
    border-radius: 8px;
    color: #fff;
    text-align: center;
    font-size: 12px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.emotion-item h4 {
    margin: 0;
    font-size: 14px;
}
.emotion-item p {
    margin: 5px 0 0 0;
    font-size: 12px;
}

.options-group {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    margin-top: 10px;
    justify-content: flex-start;
}

.options-group label {
    display: flex;
    align-items: center;
    margin: 5px;
}

.option-item {
    padding: 10px 15px;
    background-color: rgba(167, 128, 223, 0.15);
    border-radius: 20px;
    cursor: pointer;
    user-select: none;
    transition: background-color 0.2s, color 0.2s;
}

.option-item:hover {
    background-color: rgba(167, 128, 223, 0.25);
}

.option-item.selected {
    background-color: rgba(165, 108, 246, 0.5);
    color: #fff;
}

.weather-icons {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    margin-top: 10px;
}
.weather-icons label {
    display: flex;
    align-items: center;
    cursor: pointer;
}

.weather-icon {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.weather-icon i {
    font-size: 20px;
    margin-bottom: 5px;
}

.weather-icon span {
    margin-top: 5px;
    font-size: 12px;
    color: #fff;
}

.weather-icon {
    padding: 15px 15px;
    background-color: rgba(167, 128, 223, 0.15);
    border-radius: 20px;
    cursor: pointer;
    user-select: none;
    transition: background-color 0.2s, color 0.2s;
}

.weather-icon:hover {
    background-color: rgba(167, 128, 223, 0.25);
}

.weather-icon.selected {
    background-color: rgba(165, 108, 246, 0.5);
    color: #fff;
}

.selected-emotion-name {
    color: var(--emotion-color);
}

.form-group {
    margin-bottom: 15px;
}
.form-control {
    width: 100%;
    padding: 8px;
    box-sizing: border-box;
}

#description, input[type="number"], input[type="datetime-local"] {
    background-color: rgba(33, 33, 33, 0.5);
    color: white;
    border: none;
}

input[type="number"]:focus, input[type="datetime-local"]:focus {
    background-color: rgba(33, 33, 33, 0.7);
    color: white;
    outline: none;
}