{% extends 'app/layout.html' %}
{% load static %}

{% block title %}Add Habit Entry{% endblock %}

{% block css %}
<link rel="stylesheet" href="{% static 'app/styles/diary.css' %}">
{% endblock %}

{% block content %}
<div class="container mt-5">
    <h1>Add a New Habit Entry</h1>
    {% if error_message %}
        <div class="alert alert-danger" role="alert">
            {{ error_message }}
        </div>
    {% endif %}
    <form method="post" enctype="multipart/form-data" class="diary-form">
        {% csrf_token %}
        <div class="form-group">
            <label for="habit">Select Habit</label>
            <select class="form-control" name="habit_id" id="habit-select">
                <option value="">Select An Existing Habit</option>
                {% for habit in habits %}
                    <option value="{{ habit.id }}">{{ habit.name }}</option>
                {% endfor %}
            </select>
        </div>
        <div class="form-group">
            <label for="habit_name">Or Add New Habit</label>
            <input type="text" class="form-control" name="habit_name" id="habit-name" placeholder="New Habit Name">
        </div>
        <div class="form-group">
            <label for="start_time">Start Time</label>
            <input type="datetime-local" class="form-control" name="start_time" id="start_time" required>
        </div>
        <div class="form-group">
            <label for="end_time">End Time</label>
            <input type="datetime-local" class="form-control" name="end_time" id="end_time" required>
        </div>
        <div class="form-group">
            <label for="description">Description (optional)</label>
            <textarea class="form-control" name="description" id="description" rows="5" placeholder="Describe your habit activity..."></textarea>
        </div>
        <button type="submit" class="btn btn-primary mt-3">Submit</button>
    </form>
    <br>
</div>
{% endblock %}

{% block javascript %}
<script defer src="{% static 'app/scripts/habit.js' %}"></script>
{% endblock %}